@use '@styles/media/media' as *;

.sidebar {
    display: flex;
    gap: clamp(0.25rem, 4vw, 2rem);
    padding: 2rem;

    @include breakpoint-down('md') {
        justify-content: center;
    }

    @include breakpoint-up('md') {
        flex-direction: column;
    }
}
