@use '@styles/media/media' as *;

.step {
    display: flex;
    color: var(--muted);
    align-items: center;
    gap: 1.25rem;

    &__display {
        border-radius: 50%;
        border: 1px solid;
        aspect-ratio: 1;
        min-width: 2rem;
        max-width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;

        &--current {
            background-color: var(--tertiary);
            border-color: var(--border);
            color: var(--primary);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 0.45rem;
        justify-content: center;

        &--preview {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.75rem;
            color: var(--border-foreground);
        }

        &--title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.875rem;
            white-space: nowrap;
        }

        @include breakpoint-down('md') {
            display: none;
        }
    }
}
